<%= error_messages_for 'entry' %>

<!--[form:entry]-->
<p><label for="entry_message">Message</label><br/>
<%= text_field 'entry', 'message'  %></p>

<p><label for="entry_datetime">Datetime</label><br/>
<%= text_field 'entry', 'datetime'  %></p>
<!--[eoform:entry]-->

